.ui-listview li {
    width: 100% !important;
    margin:5px !important;
    max-height:80px;
    float: left;
    border: 1px solid #ccc !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.li-item {
  padding:10px;
  height: 80px;
}

.ui-block-a {
  width:12%;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  background:green;
  color:white;
}

.ui-block-b {
  width:10%;
}

.ui-block-b img {
  max-width:100%;
  max-height:100%;
  display: block;
  margin: 0 auto;
}

.ui-block-c {
  width:30%;
  line-height: 50px;
  vertical-align: middle;
}

.ui-block-d {
  width:48%;
}

.ui-block-e {
  width:1%;
}