.ui-listview li {
    width: 95% !important;
    margin:5px !important;
    max-height: 320px;
    float: left;
    border: 1px solid #ccc !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}


.ui-block-a img {
  max-width:100%;
  max-height:100%;
  display: block;
  margin: 0 auto;
}


thead {
	display:none;
}

th {
	width:10%;
	height: 50px;
	text-align: right !important;
    vertical-align: middle;
}

td {
	width: 90%;
}